<form id="algo-form-id" name="algo-form" role="form" action="{{ url_for('run_algorithm') }}" method="post">
    <p>Selected algorithm ID: {{ algo_id }}, DB ID: {{ db_id }}</p>
    {% if selects %}
        <label for="settings_selects">{{ selects.general_label }}</label>
        <div id="settings_selects">
            {% for select in selects.elements %}
                <label for="select_{{ select.general_label | slugify }}">{{ select.general_label }}</label>
                <select id="select_{{ select.general_label | slugify }}"
                        name="select_{{ select.general_label | slugify }}">
                    {% for option in select.options %}
                        <option value="{{ option.value }}" {% if option.value == select.default_value %}
                                selected="selected" {% endif %}>{{ option.label }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
        </div>
    {% endif %}
    {% if inputs %}
        <label for="settings_inputs">{{ inputs.general_label }}</label>
        <div id="settings_inputs">
            {% for input in inputs.elements %}
                <label for="input_{{ input.label | slugify }}">{{ input.label }}</label>
                <input type="text" id="input_{{ input.label | slugify }}" value="{{ input.default_value }}">
            {% endfor %}
        </div>
    {% endif %}
    {% if checkboxes %}
        <label for="settings_checkboxes">{{ checkboxes.general_label }}</label>
        <div id="settings_checkboxes">
            {% for checkbox in checkboxes.elements %}
                <label for="checkbox_{{ checkbox.label | slugify }}">{{ checkbox.label }}</label>
                <input type="checkbox" id="checkbox_{{ checkbox.label | slugify }}"
                       {% if checkbox.default_value %}checked="checked" {% endif %}>
            {% endfor %}
        </div>
    {% endif %}
    {% if radiobuttons %}
        <label for="settings_radiobuttons">{{ radiobuttons.general_label }}</label>
        <div id="settings_radiobuttons">
            {% for radio_button in radiobuttons.elements %}
                <label for="radio_{{ radio_button | slugify }}">{{ radio_button }}</label>
                <input type="radio" id="radio_{{ radio_button | slugify }}"
                       {% if radio_button == radiobuttons.default_value %}checked="checked" {% endif %}>
            {% endfor %}
        </div>
    {% endif %}
    <input type="submit" value="Run Algorithm">
</form>
